* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e5e5e5;
}
h2, p {
    text-align: center;
}
.container {
    border: 1px solid red;

    width: 100%;
    height: 80vh;

    display: flex;
    flex-wrap: wrap;

    position: relative;
}
.item {
    border: 1px solid blue;

    width: 250px;
    text-align: center;
}
.profile {
    border: 1px dotted purple;
    border-radius: 50%;
    background-color: #d9c48d;

    width: 150px;
    height: 150px;

    position: relative;
    top: 30px;
    left: calc((250px/2) - 75px);
}