#back1 {
    /* background-color: #ffaabb; */
    background-color: #fab;
}
#back2 {
    border: 1px solid red;
    height: 250px;

    background-image: /* url('https://images.icon-icons.com/1861/PNG/96/phonebooth_118224.png'), */
        url('https://mblogthumb-phinf.pstatic.net/20160427_9/gkfngkfn414_1461740691245IfBjs_JPEG/%B1%D7%B8%AE%B1%E2_%BD%AC%BF%EE_%B8%B8%C8%AD_%C4%B3%B8%AF%C5%CD_%BF%B1%B1%E2%C5%E4%B3%A2_%B8%B6%BD%C3%B8%B6%B7%CE_%BC%D5%B1%D7%B8%B2_%B0%AD%C1%C28.jpg?type=w420');
    background-repeat: /* repeat-x; */ /* repeat-y */ no-repeat;
    /* background-size: 100px 250px; */
    /* background-size: 100% 50%; */
    /* background-size: 100% 100%; */
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: 100px 100px;
    /* background-position: 100px 100px; */
    /* background-position: 10% 10%; */
    /* background-position: right bottom; */
    background-position: center;
}

.profile {
    border: 1px solid green;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: url('../../../winter.jpeg');
    background-size: cover;
}

#back3 {
    height: 80vh;
    background-image: url('../../../winter.jpeg');
    background-size: cover;
    /* 브라우저 전체 스크롤에 관계없이 그 자리에 있는 이미지처럼 보이는 기술 */
    background-attachment: fixed;

    overflow: auto;
}
#back3 p {
    height: 200vh;
}

#back4 {
    height: 100px;
    background: skyblue url('https://images.icon-icons.com/1861/PNG/96/phonebooth_118224.png');
}

/* background: 축약형
    color || image || repeat || position/size || attachment
    순서에 관계없이, 그리고 종유에 관계없이 사용가능
*/