#div1 {
    border: 1px solid red;
}

.block {
    border: 1px solid red;
    width: 100px;
    height: 50px;
    /* 블럭의 이동은 margin으로 */
    margin: 10px auto;
}

.inline {
    border: 1px solid red;
    
    /* 너비, 높이를 줄 수 없다 */
    width: 200px;
    height: 100px;
    
    /* 좌우는 되고 상하는 안됨 */
    margin: 30px 50px;

    /* 좌우만 되고 상하는 안됨 그러나 border는 밀어짐 실제는 좌우만 적용된 것 */
    padding: 30px;

    /* display: block; */
    background: green;
}

.parent {
    border: 1px dotted #ff00ff;
    /* width: 400px; */
    text-align: center;
}

.parent > div {
    border: 1px solid rebeccapurple;
    
    display: inline-block;

    /* width: 100px; */
    width: 300px;
    height: 50px;

    margin: 30px;
    /* margin: auto; */
    
    padding: 50px;
}

.parent2 {
    border: 1px dotted #ff00ff;
    font-size: 0;
}

.parent2 > div {
    border: 1px solid rebeccapurple;
    
    display: inline-block;

    width: 300px;
    height: 50px;

    /* inline, inline-block만 가능 
        기본 값은 baseline 
    */
    vertical-align: top;
    font-size: 16px;
}

.hide {
    display: none;
}

.table {
    display: table;
}
.table .td {
    display: table-cell;
    
    border: 1px solid red;
    height: 100px;

    vertical-align: middle;
}

